
<div class="uk-margin">
    <form class="uk-search uk-search-default">
        <span class="uk-search-icon-flip" uk-search-icon></span>
        <input class="uk-search-input" type="search" placeholder="Search..." name="search" [(ngModel)]="search" (ngModelChange)="searchByProduct($event)">
    </form>
</div>
<!-- This is the modal -->
<div id="modal-order" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <h2 class="uk-modal-title">Order Details</h2>
        <form class="uk-form-horizontal uk-margin-large">
            
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text">Order Id</label>
                    <div class="uk-form-controls">
                        {{selectedOrder.amazonOrderId || "--"}}
                    </div>
                </div>
            
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-select">Product Name</label>
                    <div class="uk-form-controls">
                        {{selectedOrder.productName || "--"}}
                    </div>
                </div>
            
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-select">Asin</label>
                    <div class="uk-form-controls">
                        {{selectedOrder.asin || "--"}}
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-select">Currency</label>
                    <div class="uk-form-controls">
                        {{selectedOrder.currency || "--"}}
                    </div>
                </div>
            
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-select">Fulfillment Channel</label>
                    <div class="uk-form-controls">
                        {{selectedOrder.fulfillmentChannel || "--"}}
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-select">Gift Wrap Price</label>
                    <div class="uk-form-controls">
                        {{selectedOrder.giftWrapPrice || "--"}}
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-select">Gift Wrap Tax</label>
                    <div class="uk-form-controls">
                        {{selectedOrder.giftWrapTax || "--"}}
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-select">Is Business Order</label>
                    <div class="uk-form-controls">
                        {{selectedOrder.isBusinessOrder || "--"}}
                    </div>
                </div>
            </form>
    </div>
</div>
<div class="uk-overflow-auto">
  <table class="uk-table uk-table-hover uk-table-divider">
    <thead>
      <tr>
        <th class="order-id-align">Order Id</th>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Item Status</th>
        <th>Order Status</th>
        <th>Purchase Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody *ngIf="!spinnerFlag">
      <tr *ngFor="let order of pagedItems">
        <td>{{order.amazonOrderId}}</td>
        <td>{{order.productName}}</td>
        <td>{{order.quantity}}</td>
        <td>{{order.itemStatus}}</td>
        <td>{{order.orderStatus}}</td>
        <td>{{order.purchaseDate | date: 'dd-MM-yyyy'}}</td>
        <td><button class="uk-button uk-button-default" uk-toggle="target: #modal-order" (click)="getOrderDetailsById(order.amazonOrderId)" type="button">More..</button></td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="spinnerFlag" class="col-md-12 col-sm-12 col-lg-12" uk-spinner align="center"></div>
</div>
<div class="row" *ngIf="paginationFlag">
        <ul class="uk-pagination uk-flex-right uk-margin-medium-top" uk-margin *ngIf="pager.pages && pager.pages.length" >
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(pager.currentPage - 1)"><span uk-pagination-previous></span></a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                        <a (click)="setPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.currentPage + 1)"><span uk-pagination-next></span></a>
                </li>
            </ul>
            <!-- <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                    <li [ngClass]="{disabled:pager.currentPage === 1}">
                        <a (click)="setPage(1)">First</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === 1}">
                        <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                    </li>
                    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                        <a (click)="setPage(page)">{{page}}</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a (click)="setPage(pager.currentPage + 1)">Next</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a (click)="setPage(pager.totalPages)">Last</a>
                    </li>
                </ul> -->
</div>
<!-- <div *ngFor="let order of orders">
  {{order.amazonOrderId}}
</div> -->