<!-- This is the modal -->
<div id="modal-order" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <h2 class="uk-modal-title">Order Details</h2>
        <form class="uk-form-horizontal uk-margin-large">

            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-text">Order Id</label>
                <div class="uk-form-controls">
                    {{selectedOrder.amazonOrderId || "--"}}
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-select">Product Name</label>
                <div class="uk-form-controls">
                    {{selectedOrder.productName || "--"}}
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-select">Asin</label>
                <div class="uk-form-controls">
                    {{selectedOrder.asin || "--"}}
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-select">Currency</label>
                <div class="uk-form-controls">
                    {{selectedOrder.currency || "--"}}
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-select">Fulfillment Channel</label>
                <div class="uk-form-controls">
                    {{selectedOrder.fulfillmentChannel || "--"}}
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-select">Gift Wrap Price</label>
                <div class="uk-form-controls">
                    {{selectedOrder.giftWrapPrice || "--"}}
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-select">Gift Wrap Tax</label>
                <div class="uk-form-controls">
                    {{selectedOrder.giftWrapTax || "--"}}
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-select">Is Business Order</label>
                <div class="uk-form-controls">
                    {{selectedOrder.isBusinessOrder || "--"}}
                </div>
            </div>
        </form>
    </div>
</div>
<button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #offcanvas-push">Search</button>
<div id="offcanvas-push" uk-offcanvas="mode: push; overlay: true">
    <div class="uk-offcanvas-bar">

        <button class="uk-offcanvas-close" type="button" uk-close></button>

        <h3>SEARCH MENU</h3>

        <form class="uk-form-stacked">

            <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-text">Search By Asin:</label>
                <div class="uk-form-controls">
                    <input class="uk-input" name="asin" id="form-stacked-text" type="text" placeholder="eg: B00EIC1I7A" [(ngModel)]="searchModel.asin">
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-text">Search By Purchase Date:</label>
                <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                    <label><input class="uk-radio" type="radio" name="radio2" value="particularDate" checked (change)="checkVisibility($event.target.value)"> By Particular Date</label>
                    <label><input class="uk-radio" type="radio" name="radio2" value="rangeDate" (change)="checkVisibility($event.target.value)"> By Date Range</label>
                </div>
                <div class="uk-form-controls" *ngIf="datePickerFlag">
                    <input class="uk-input" name="date" id="form-stacked-text" type="date" placeholder="eg: MM/DD/YYYY" [(ngModel)]="searchModel.particularDate">
                </div>
                <div class="uk-form-controls" *ngIf="!datePickerFlag">
                    <input class="uk-input range-radio-input" name="date" id="form-stacked-text" type="date" placeholder="eg: MM/DD/YYYY" [(ngModel)]="searchModel.startDate">
                    <input class="uk-input range-radio-input" name="date" id="form-stacked-text" type="date" placeholder="eg: MM/DD/YYYY" [(ngModel)]="searchModel.endDate">
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-text">Search By Customer's Email Id:</label>
                <div class="uk-form-controls">
                    <input class="uk-input" name="email" id="form-stacked-text" type="text" placeholder="eg: abc@domain.com" [(ngModel)]="searchModel.emailId">
                </div>
            </div>

        </form>
        <button class="uk-button uk-button-default uk-margin-small-right pull-right" (click)="search()" type="button">SUBMIT</button>

    </div>
</div>
<div class="uk-overflow-auto">
    <table class="uk-table uk-table-hover uk-table-divider">
        <thead>
            <tr>
                <th class="order-id-align">Order Id</th>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Item Status</th>
                <th>Order Status</th>
                <th>Purchase Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody *ngIf="!spinnerFlag">
            <tr *ngFor="let order of pagedItems">
                <td>{{order.amazonOrderId}}</td>
                <td>{{order.productName}}</td>
                <td>{{order.quantity}}</td>
                <td>{{order.itemStatus}}</td>
                <td>{{order.orderStatus}}</td>
                <td>{{order.purchaseDate | date: 'dd-MM-yyyy'}}</td>
                <td><button class="uk-button uk-button-default" uk-toggle="target: #modal-order" (click)="getOrderDetailsById(order.amazonOrderId)"
                        type="button">More..</button></td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="spinnerFlag" class="col-md-12 col-sm-12 col-lg-12" uk-spinner align="center"></div>
</div>
<div class="row" *ngIf="paginationFlag">
    <ul class="uk-pagination uk-flex-right uk-margin-medium-top" uk-margin *ngIf="pager.pages && pager.pages.length">
        <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(pager.currentPage - 1)"><span uk-pagination-previous></span></a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
            <a (click)="setPage(page)">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.currentPage + 1)"><span uk-pagination-next></span></a>
        </li>
    </ul>
    <!-- <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                    <li [ngClass]="{disabled:pager.currentPage === 1}">
                        <a (click)="setPage(1)">First</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === 1}">
                        <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                    </li>
                    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                        <a (click)="setPage(page)">{{page}}</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a (click)="setPage(pager.currentPage + 1)">Next</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a (click)="setPage(pager.totalPages)">Last</a>
                    </li>
                </ul> -->
</div>
<!-- <div *ngFor="let order of orders">
  {{order.amazonOrderId}}
</div> -->