
.order-id-align{
    width: 15%;
}

.uk-overflow-auto{
    margin: -15px;
}

.active{
    font-size: 25px;
    position: relative;
    bottom: 10px;
}

.active a{
    color: orange;
}

.return-date-align{
    width: 10%;
}

.uk-table td {
    padding: 0px 5px;
    vertical-align: inherit;
    font-size: 12px;
}

.uk-offcanvas-bar {
    width: 27%;
		padding: 10px;
}