.uk-search-default{
    width: 100%;
}

.order-id-align{
    width: 15%;
}

.uk-overflow-auto{
    margin: -15px;
}

.active{
    font-size: 25px;
    position: relative;
    bottom: 10px;
}

.active a{
    color: orange;
}

.return-date-align{
    width: 10%;
}